<html>
<head>
<style>
    .para-box{
        padding: 20px;
        margin: 20px;
        border: 2px solid rgb(198, 0, 0);
    }
    .para-heading{
        text-align: center;
        font-weight: bold;
    }
</style>
</head>
<body>







    <!--New-->


    <div class="para-box">
        <h2 class="para-heading">Flask render template @ 2023-01-27 By Rehmanazhar922</h2>
        <p>from&nbsp;flask&nbsp;import&nbsp;Flask,&nbsp;render_template
<br>
<br>app&nbsp;=&nbsp;Flask(__name__)
<br>
<br>@app.route('/')
<br>def&nbsp;home():
<br>&nbsp;&nbsp;&nbsp;&nbsp;return&nbsp;render_template('index.html',&nbsp;title="Home")
<br>
<br>if&nbsp;__name__&nbsp;==&nbsp;'__main__':
<br>&nbsp;&nbsp;&nbsp;&nbsp;app.run(debug=True)</p>
    </div>



    <div class="para-box">
        <h2 class="para-heading">Flask render template @ 2023-01-27 By Rehmanazhar922</h2>
        <p>from&nbsp;flask&nbsp;import&nbsp;Flask,&nbsp;render_template
<br>
<br>app&nbsp;=&nbsp;Flask(__name__)
<br>
<br>@app.route('/')
<br>def&nbsp;home():
<br>&nbsp;&nbsp;&nbsp;&nbsp;return&nbsp;render_template('index.html',&nbsp;title="Home")
<br>
<br>if&nbsp;__name__&nbsp;==&nbsp;'__main__':
<br>&nbsp;&nbsp;&nbsp;&nbsp;app.run(debug=True)</p>
    </div>
    
    <form action="/submit" method="post">
        <h1>Title :</h1>
        <input type="text" alt="Your information title" name="title" id="title"><br>
        <h1>User :</h1>
        <input type="text" name="User" id="User" alt="By"><br>
        <h1>Information :</h1>
        <textarea name="Content" id="Content" name="Content" cols="100" rows="30">Your information</textarea>
        <input type="submit" class="btn" value="Save" width="50" height="50">
    </form>
</body>
</html>